.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 28px;
  color: inherit;
  text-decoration: none;
}

.header__lang-link:hover {
  cursor: pointer;
}
