.place__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media (max-width: 768px) {
  .place__title {
    white-space: pre-line;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 700px) {
  .place__title {
    white-space: normal;
    margin-bottom: 32px;
  }
}

@media (max-width: 426px) {
  .place__title {
    font-size: 32px;
  }
}

@media (max-width:320px) {
  .place__title {
    line-height: 35px;
    margin-left: 16px;
    white-space: normal;
  }
}
