.place__wrapper {
  margin-right: 40px;
}

.place__wrapper:last-child {
  margin-right: 0px;
}

@media (max-width: 1024px) {
  .place__wrapper {
    margin-right: 32px;
  }
}

@media (max-width: 700px) {
  .place__wrapper {
    margin: 0;
  }
}


@media (max-width: 426px) {
  .place__wrapper {
    margin-left: 0;
  }
}

@media (max-width:320px) {
  .place__wrapper {
    width: 320px;
  }
}
