.page__lead {
  width: calc(100vw - 148px*2);
}

@media(max-width: 1223px) {

  .page__lead {
    width: 928px;
  }

}

@media (max-width: 1024px) {
  .page__lead {
    width: calc(100vw - 96px);
  }
}

@media (max-width: 864px) {
  .page__lead {
    width: 758px;
  }
}

@media (max-width: 768px) {
  .page__lead {
    width: 100vw;
  }
}
