.cover__title {
  white-space: pre-line;
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 600px) {
  .cover__title {
    font-size: 41px;
    line-height: 43px;
  }
}

@media (max-width:400px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}


