.main__wrapper {
  margin: 0 auto;
  max-width: 984px;
  width: calc(100vw - 148px*2);
}

@media(max-width: 1223px) {
  .main__wrapper {
    width: 928px;
  }
}

@media (max-width: 1024px) {
  .main__wrapper {
    width: calc(100vw - 96px);
  }
}

@media (max-width: 864px) {
  .main__wrapper {
    width: 758px;
  }
}

@media (max-width: 775px) {
  .main__wrapper {
    width: 100%;
  }
}
