.place__website {
  margin-top: 106px;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .place__website {
    margin-top: 46px;
  }
}

@media (max-width:320px) {
  .place__website {
    display: none;
  }
}
